<div class="container container_header">
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_tem">
        <svg width="" height="">
          <use href=""></use>
        </svg>
        <a href="./flights.html" class="nav-link">Find Flight</a>
      </li>

      <li class="nav_item">
        <svg width="" height="">
          <use href=""></use>
        </svg>
        <a href="./stays.html" class="nav-link">Find Stays</a>
      </li>
      <li>
        <a class="header_logo" href="../img/header/logo.png"></a>
      </li>
    </ul>
  </nav>

  <ul>
    <li>
      <a href="">Login</a>
    </li>
    <li>
      <a href="">Sign up</a>
    </li>
  </ul>
</div>
